<div class="textbook">
  <div class="textbook__header">
    <div class="category">
      <div class="category__card"></div>
      <div class="category__card"></div>
      <div class="category__card"></div>
      <div class="category__card"></div>
      <div class="category__card"></div>
      <div class="category__card"></div>
    </div>
    <div class="words">
      <h1>Слова</h1>
      <div class="words__container">
        <button class="words__card"></button>
      </div>
      <div class="words__details">
        <img src="" class="words__image"></img>
        <div class="words__information">
          <div class="words__header">
            <h2 class="words__word">Столица</h2>
            <h3 class="words__translate">Capital</h3>
          </div>
          <div class="words_description">
            <h3 class="words__subtitle">Значение</h3>
            <p>Столица - это город, в котором базируется правительство страны</p>
            <h3 class="words__subtitle">Пример</h3>
            <p>Столица - это город, в котором базируется правительство страны</p>
            <p>Столица Соединенных Штатов - Вашингтон, округ Колумбия</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>