@import '../../../styles/variables/variables.scss';
@import '../../../styles/mixins/mixins.scss';

header {
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $bluish-grey;
}

header a {
  text-decoration: none;
  @include noto-sans;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.link-logo {
  display: flex;
  align-items: center;
  margin-left: 20px;

  .img-logo {
    @include images;
    width: 100px;
    height: 80px;
    margin-right: 10px;
    border-radius: 30px;
  }

  .title-logo {
    margin: 0;
    color: $dark-blue;
  }
}

.header-menu {
  display: flex;
  text-transform: uppercase;
  justify-content: space-around;
}

.menu {
  display: flex;
  align-items: end;

  .item {
    margin-right: 40px;
  }
}
.item:hover {
  a {
    color: #ffff00;
  }
}

.condition {
  margin-right: 20px;
  margin-left: 15px;
}

.condition:hover {
  color: #ffff00;
}
