$button-color: #2ee59d;

%other-button {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px $button-color inset, 0 0 0 0 $button-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 $button-color inset, 0 0 10px 4px $button-color;
    color: $button-color;
    cursor: pointer;
  }

  &:disabled {
    box-shadow: none;
    color: #b0b0b0;
    cursor: auto;
  }
}
