@import '../../../styles/variables/variables.scss';
@import '../../../styles/mixins/mixins.scss';

.card-opportunities {
  position: relative;
  cursor: pointer;
  .card-backgr {
    width: 300px;
    height: 180px;
  }
}

.content-card {
  position: absolute;
  display: flex;
  width: 300px;
  bottom: 26px;
}

.icon-opportunities {
  width: 132px;
  height: 132px;
}

.text-opportunities {
  display: flex;
  align-items: center;
  @include noto-sans;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2.5px;
  text-align: center;
  margin: 0;
}
