@import '../../../../styles/variables/variables.scss';

.group {
  display: flex;
  column-gap: 1.5rem;
  &__button {
    cursor: pointer;
    width: 100%;
    max-width: 22rem;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    border: none;
    align-items: center;
    padding: 0 2rem;
    &.active {
      background-color: $tabs-color;
    }
    &-left, &-right {
      font-size: 2rem;
    }
  }
}