@import '../../../../styles/variables/variables.scss';
@import '../../../../styles/mixins/mixins.scss';

.words {
  @include media-laptop {
    column-gap: 3rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    @include media-tablet {
      justify-content: center;
      margin-bottom: 3rem;
    }
  }

  &__card {
    cursor: pointer;
    width: 100%;
    max-width: 17rem;
    height: 10rem;
    border-radius: 1rem;
    border: none;
    position: relative;
    @include font(bold, $font-12, $text-main-color);
    @include media-laptop {
      max-width: 15rem;
    }
    @include media-tablet {
      max-width: 10rem;
    }

    &:hover {
      filter: brightness(0.8);
    }

    &.active {
      background-color: lightblue;
    }

    &.studied::after {
      content: '';
      width: 3rem;
      height: 3rem;
      display: block;
      position: absolute;
      background-color: $candlelight;
      right: 0;
      border-radius: 1rem 0 1rem 0;
      bottom: 0;
    }

    &.difficult::after {
      content: '';
      width: 3rem;
      height: 3rem;
      display: block;
      position: absolute;
      background-color: $dark-blue;
      right: 0;
      border-radius: 1rem 0 1rem 0;
      bottom: 0;
    }
  }
}