$dark-blue: #033540;
$bluish-grey: #63898c;
$sky-blue: #e0f4f5;
$blue: #a7d1d2;
$turquoise: #015366;

$background-main-color: $sky-blue;
$text-main-color: $dark-blue;
$background-secondary-color: $turquoise;
$text-secondary-color: $sky-blue;
