@import '../../../../styles/variables/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gamepage-sprint {
  height: 100vh;
  width: 100vw;
  background-color: $background-main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__timer {
    $size: 100px;
    position: absolute;
    top: 100px;
    right: 100px;
    width: $size;
    height: $size;
    border: 5px solid lime;
    border-radius: 50%;
    text-align: center;
    line-height: $size;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;

    &.timer_time-expire {
      border-color: red;
    }
  }

  &__progress-window {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
  }

  &__word {
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
  }

  &__btn-wrapper {
    margin-top: 20px;
  }

  &__answer {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background-color: $background-main-color;

    padding: 15px 20px;
    margin: 10px;
    font-size: 1.5em;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      background-color: darken($background-main-color, 3%);
      box-shadow: 5px 5px 5px 0px darken($background-main-color, 5%),
        inset -3px -3px 3px 3px darken($background-main-color, 3%),
        inset 3px 3px 3px 3px lighten($background-main-color, 3%);
    }
  }

  &__back {
    width: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 0 10px 10px $blue;
    }
  }
  &__back:hover {
    box-shadow: 0 0 10px 10px #a00000;
  }
}

$answer-shadow: 5px;
$wrong-color: #a00000;
$right-color: #00a000;

.answer_wrong {
  box-shadow: 0 0 15px 5px $wrong-color, inset 0 0 10px 0 $wrong-color;

  &:hover {
    box-shadow: 0 0 15px 5px $wrong-color, inset 0 0 10px 0 $wrong-color;
  }
}
.answer_right {
  box-shadow: 0 0 15px 5px $right-color, inset 0 0 10px 0 $right-color;

  &:hover {
    box-shadow: 0 0 15px 5px $right-color, inset 0 0 10px 0 $right-color;
  }
}

.btn_wrong {
  color: darkred;
}

.btn_right {
  color: darkgreen;
}

.timer_tick::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  // margin-left: -2px;
  // margin-top: -2px;
  animation: pinAfterWave 0.3s ease-in;
}

@keyframes pinAfterWave {
  from {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    opacity: 1;
    border: 0px solid $background-secondary-color;
  }
  to {
    width: 150px;
    height: 150px;
    margin-left: -78px;
    margin-top: -78px;
    opacity: 0;
    border: 3px solid $background-main-color;
  }
}
