@import '../../../styles/variables/variables.scss';
@import '../../../styles/mixins/mixins.scss';

main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}

// opportunities
.opportunities {
  display: flex;
  justify-content: space-around;
  margin: 0 20px 40px 20px;
}

// Our team
.our-team {
  padding: 0 20px;

  .container-team {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
}
